<%= form_for @profile, url: user_profile_path do |f| %>  <!--  url stellt sicher, dass man den path so spezifiziert, dass nur der Besitzer User Zugriff auf sein Profil hat (Ist die POST create route -->
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :job %>
    <%= f.select :job, ["Babbo", "Kappa", "Keppo"], {}, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>